<div class="applepay-component">
    <div class="actions-toolbar">
        <div class="primary">
            <div class="gpay-content">
                <div class="applepay-content">
                    <div id="ap-container" class="ap hidden ap-container" afterRender="initFrame()" >
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="messages">
        <div class="message message-error error applepay-error" style="display: none;">
    </div>
</div>
<style>

    .ap {
        border: 0;
        width: 250px;
        height: auto;
        min-height: 55px;
        padding: 0px;
        margin-bottom: 12px;
    }
    .hidden {
        display: none;
    }
</style>