<?xml version="1.0"?>
<!--
/**
 * Copyright © 2024 Cardknox Development Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!-- Version is saved in the database, cannot be downgraded without changing the data entry -->
    <module name="CardknoxDevelopment_Cardknox" setup_version="2.0.15">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Payment" />
            <module name="Magento_Directory" />
            <module name="Magento_Config" />
            <module name="Magento_Vault"/>
        </sequence>
    </module>
</config>
