@ipad: ~'only screen and (min-width: 768px) and (max-width: 1024px)';
@mobile: ~'only screen and (max-width: 767px)';

.payment-method {
    .field {
        label {
            width: 100%;
        }
    }
    #cardknox_cc_type_cvv_div {
        .control._with-tooltip {
            display: inline-block;
            width: 200px;
        }
    }
    label[data-ifields-id='card-data-error'] {
        display: none;
    }
}
.checkout-payment-method {
    .messages {
        display: block !important;
    }
}

@media @ipad {
    .field-tooltip {
        .field-tooltip-content {
            left: auto;
            right: -96px !important;
            top: 40px;
            &:before,
            &:after {
                border: 10px solid transparent;
                height: 0;
                left: auto;
                margin-top: -21px;
                right: 100px !important;
                top: 0;
                width: 0;
            }
        }
    }
}

@media @mobile {
    .field-tooltip {
        .field-tooltip-content {
            left: auto;
            right: -97px !important;
            top: 40px;

            &:before,
            &:after {
                border: 10px solid transparent;
                height: 0;
                left: auto;
                margin-top: -21px;
                right: 100px !important;
                top: 0;
                width: 0;
            }
        }
    }
    .payment-method #cardknox_cc_type_cvv_div .control._with-tooltip iframe {
        position: relative;
        width: 155px;
        z-index: 1;
    }
}

.gpay-logo {
    background: url('@{baseDir}CardknoxDevelopment_Cardknox/images/google-pay-mark.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: auto;
    padding-left: 10rem;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    margin: 0 0 0 10px;
    height: 50px;
    background-size: 80px;
}

#cardknox_google_pay_container {
    .actions-toolbar {
        display: block;
        text-align: center;
    .primary {
            float: none !important;
        }
    }
}

#cardknox_google_pay_container {
    .gpay-title {
        display: none;
    }
}
.ck-allow-duplicate-transaction {
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout-cart-index {
    #applepay-btn-cart-summary {
        .actions-toolbar  {
            .primary {
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
                .apple-pay-button.visible {
                    width: 100%;
                }
            }
        }
    }
}
.cardknox-credit-card-logo {
    background: url('@{baseDir}CardknoxDevelopment_Cardknox/images/credit-card-logo.png');
    background-repeat: no-repeat;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    height: 24px;
    overflow: inherit;
    flex: 1;
    background-position: right;
}

.checkout-payment-method .payment-method.ck-credit-card-payment .payment-method-title {
    display: flex;
    align-items: center;
    border-top: 1px solid #cccccc;
    label {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        span.cardknox-credit-card-title{
            margin-left: 5px;
            margin-top: 3px;
        }
    }
}


/* For gift card */
.checkout-payment-method {
	.payment-option-content {
		.form-ckgiftcard {
			display: table;
			width: 100%;
			.actions-toolbar {
				display: table-cell;
				vertical-align: top;
				width: 1%;
				.primary {
					margin-bottom: 10px;
					float: left;
					.action {
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;
						margin: 0 0 0 -2px;
						white-space: nowrap;
						width: 129px;
					}
				}
				.secondary {
					float: left;
					.action {
						margin: 0 0 0 -2px;
						white-space: nowrap;
						width: 129px;
					}
				}
			}
		}
	}
}
.opc-wrapper {
	.form-ckgiftcard {
		max-width: 500px;
	}
}
