@ipad: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@mobile: ~"only screen and (max-width: 767px)";
.payment-method {
  .field {
    label {
      width: 100%;
    }
  }
  #cardknox_cc_type_cvv_div {
    .control._with-tooltip {
      display: inline-block;
      width: 200px;
    }
  }
  label[data-ifields-id="card-data-error"] {
    display: none;
  }
}

.checkout-payment-method {
  .messages {
    display: block !important;
  }
}

@media @ipad {
  .field-tooltip {
    .field-tooltip-content {
      right: -96px !important;
      top: 40px;
      left: auto;
      &:before,
      &:after {
        border: 10px solid transparent;
        height: 0;
        width: 0;
        margin-top: -21px;
        right: 100px !important;
        left: auto;
        top: 0;
      }
    }
  }
}

@media @mobile {
  .field-tooltip {
    .field-tooltip-content {
      right: -97px !important;
      top: 40px;
      left: auto;
      &:before,
      &:after {
        border: 10px solid transparent;
        height: 0;
        width: 0;
        margin-top: -21px;
        right: 100px !important;
        left: auto;
        top: 0;
      }
    }
  }
  .payment-method #cardknox_cc_type_cvv_div .control._with-tooltip iframe {
    position: relative;
    z-index: 1;
    width: 155px;
  }
}

.gpay-logo {
  background: url('@{baseDir}CardknoxDevelopment_Cardknox/images/google-pay-mark.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: auto;
    padding-left: 10rem;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    margin: 0 0 0 10px;
    height: 50px;
    background-size: 80px;
}

#cardknox_google_pay_container {
	.actions-toolbar {
		display: block;
    text-align: center;
    .primary {
      float: none !important;
    }
	}
}

#cardknox_google_pay_container {
	.gpay-title {
		display: none;
	}
}