<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, attr: {'id': getCode() + '_container'}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()">
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span class="gpay-logo"></span>
            <span class="label" data-bind="i18n: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <div class="ck-allow-duplicate-transaction" data-bind="visible: isAllowDuplicateTransaction">
            <div class="field choice">
                <input type="checkbox"
                    name="is_allow_duplicate_transaction_gpay"
                    class="checkbox"
                    id="is_allow_duplicate_transaction_gpay"
                    >
                <label class="label" >
                    <span><!-- ko i18n: 'Allow Duplicate Transaction'--><!-- /ko --></span>
                </label>
            </div>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="messages">
            <div class="message message-error error gpay-error" style="display: none;">
        </div>

        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <div class="gpay-content">
                    <div id="divGpay" class="gp hidden">
                        <iframe id="igp" class="gp" data-ifields-id="igp" afterRender="initFrame()" src="https://cdn.cardknox.com/ifields/3.1.2508.1401/igp.htm"
                                allowpaymentrequest
                                sandbox="allow-popups allow-modals allow-scripts allow-same-origin allow-forms allow-popups-to-escape-sandbox allow-top-navigation"
                                title="GPay checkout page">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    iframe.gp {
        display: inline-block;
        border: 0;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        max-height: 55px;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
    div.gp {
        display: inline-block;
        width: 250px;
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .hidden {
        display: none;
    }
</style>