<!--
/**
 * Copyright © 2018 Cardknox Development Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <!-- ko if: (isShowLegend())-->
                <legend class="legend">
                    <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
                </legend>
                <!-- /ko -->
                <div class="field number required" data-bind="attr: {id: getCode() + '_cc_type_number_div'}">
                    <label data-bind="attr: {for: getCode() + '_number'}" class="label">
                        <span><!-- ko i18n: 'Card  Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <iframe data-ifields-id="card-number" data-ifields-placeholder="Card Number"
                                src="https://cdn.cardknox.com/ifields/2.6.2006.0102/ifield.htm" frameBorder="0"
                                height="35"></iframe>
                        <input data-ifields-id="card-number-token" name="xCardNum" type="hidden"/>
                    </div>
                </div>
                <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month">
                                <div class="control">
                                    <select name="payment[cc_exp_month]"
                                            class="select select-month"
                                            data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select name="payment[cc_exp_year]"
                                            class="select select-year"
                                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field number required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cvv'}" class="label">    
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <iframe data-ifields-id="cvv" data-ifields-placeholder="CVV"
                        src="https://cdn.cardknox.com/ifields/2.6.2006.0102/ifield.htm" frameBorder="0"
                        height="35"></iframe>
                        <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-cvv"
                                    tabindex="0"
                                    data-toggle="dropdown"
                                    data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                    data-target="dropdown"
                                    data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>      
                    <input data-ifields-id="cvv-token" name="xCVV" type="hidden"/>
                    <label data-ifields-id="card-data-error" id="ifieldsError"></label>
                </div>
                <label id="transaction-status" class="label"></label>
                <!-- ko if: (isVaultEnabled()) -->
                <div class="field choice">
                    <input type="checkbox"
                        name="vault[is_enabled]"
                        class="checkbox"
                        data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                    <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                        <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                    </label>
                </div>
                <!-- /ko -->

                <!-- ko if: (isEnabledReCaptcha())-->
                    <div class="g-recaptcha" id="cardknox_recaptcha"></div>
                    <span class="recaptcha-error" style="color:red;display: none;">Please verify reCAPTCHA.</span>
                <!-- /ko -->
            </fieldset>
        </form>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- click: CardknoxPlaceOrder, -->
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"             
                        data-bind="                   
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked()),
                        click: PlaceOrder
                        ">
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>