<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, attr: {'id': getCode() + '_container'}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span class="gpay-logo"></span>
            <span class="label" data-bind="i18n: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
            
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>       

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="messages">
            <div class="message message-error error gpay-error" style="display: none;">
        </div>

        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <div class="gpay-content">
                    <div id="divGpay" class="gp hidden">
                        <iframe id="igp" class="gp" data-ifields-id="igp" afterRender="initFrame()" src="https://cdn.cardknox.com/ifields/2.12.2201.2101/igp.htm"
                                allowpaymentrequest
                                sandbox="allow-popups allow-modals allow-scripts allow-same-origin allow-forms allow-popups-to-escape-sandbox allow-top-navigation"
                                title="GPay checkout page">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style> 
    /* body {
        margin: 10px;
    } */

    iframe.gp {
        display: inline-block;
        border: 0;
        width: 250px;
        height: 45px;
        padding: 0px;
        margin-bottom: 0;
        overflow: hidden;
    }
    div.gp {
        overflow: hidden;
        display: inline-block;
        overflow: hidden;
        margin-bottom: 0;
    }
    /* input {
        border: 1px solid black;
        font-size: 14px;
        padding: 3px;
        width: 243px;
        margin-bottom: 12px;
    } */

    .hidden {
        display: none;
    }

    /* textarea {
        border: 1px solid black;
        width: 350px;
    } */
</style>