.admin__control-radio {
	+ script + .admin__field-label {
	    padding-left: 2.6rem;
	    box-sizing: border-box;
        position: relative;
        cursor: pointer;
	    &:before {
		    line-height: 140%;
		    background-color: #ffffff;
		    border: 1px solid #adadad;
		    color: transparent;
		    float: left;
		    height: 1.6rem;
		    text-align: center;
		    vertical-align: top;
		    width: 1.6rem;
		    border-radius: 1.6rem;
		    content: '';
		    transition: border-color 0.1s linear, color 0.1s ease-in;
		    margin: 1px 1rem 0 -2.6rem;
		}
	}
	&:checked {
		+ script + .admin__field-label {
			&:before {
			    color: #514943;
			}
			&:after {
			    background-color: #514943;
			    border-radius: 50%;
			    content: '';
			    height: 10px;
			    left: 3px;
			    position: absolute;
			    top: 4px;
			    width: 10px;
			}
		}
	}
} 