<?xml version="1.0"?>
<!--
/**
 * Copyright © 2024 Cardknox Development Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cardknox" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cardknox</label>
                <!-- Credit Card Configuration Start -->
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardknox_cc_vault_active" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vault Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/cardknox_cc_vault/active</config_path>
                </field>
                <field id="cardknox_cc_vault_title" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vault Title</label>
                    <config_path>payment/cardknox_cc_vault/title</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Card Title</label>
                </field>
                <field id="cardknox_transaction_key" translate="label" type="obscure" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cardknox Transaction Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="cardknox_token_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cardknox Token Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="85" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>CardknoxDevelopment\Cardknox\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="cardknox_cc_split_capture_enabled" translate="label" type="select" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Split Capture For Credit Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/cardknox/split_capture_enabled</config_path>
                    <depends>
                        <field id="payment_action">authorize</field>
                    </depends>
                </field>
                <field id="cgi_url" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cardknox Gateway Endpoint</label>
                </field>
                <field id="recaptchaEnabled" translate="label comment" type="select" sortOrder="151" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google reCAPTCHA V2 Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <comment><![CDATA[Visible Google Recaptcha enable]]></comment>
                </field>
                <field id="visible_api_key" translate="label comment" type="text" sortOrder="152" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google reCAPTCHA v2 Site Key</label>
                    <comment><![CDATA[Create app <a href="https://www.google.com/recaptcha/admin" target="_blank">here</a>.]]></comment>
                    <depends>
                        <field id="recaptchaEnabled">1</field>
                    </depends>
                </field>
                <field id="visible_api_secret" translate="label comment" type="text" sortOrder="153" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google reCAPTCHA v2 Secret Key</label>
                    <depends>
                        <field id="recaptchaEnabled">1</field>
                    </depends>
                </field>
                <field id="ck_giftcard_enabled" translate="label" type="select" sortOrder="153" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cardknox Giftcard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/cardknox/ck_giftcard_enabled</config_path>
                </field>
                <!-- Dependent Text Field -->
                <field id="ck_giftcard_text" translate="label" type="text" sortOrder="154" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cardknox Giftcard Title</label>
                    <config_path>payment/cardknox/ck_giftcard_text</config_path>
                    <!-- Make the field dependent on 'ck_giftcard_enabled' being set to '1' (Yes) -->
                    <depends>
                        <field id="ck_giftcard_enabled">1</field>
                    </depends>
                </field>
                <field id="select_recaptcha_source" translate="label comment" type="select" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select reCaptcha Source</label>
                    <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\SelectRecaptchaSource</source_model>
                    <config_path>payment/cardknox/select_recaptcha_source</config_path>
                    <comment><![CDATA[If you are not sure if your country blocks Google then you may leave this as default. Otherwise, if your country blocks google.com requests then please select the suggested recapatcha.net alternative.]]></comment>
                    <depends>
                        <field id="recaptchaEnabled">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <!-- Credit Card Configuration End -->

                <!-- Google Pay Configuration -->
                <group id="cardknox_google_pay" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cardknox Google Pay</label>
                    <field id="cardknox_gpay_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>payment/cardknox_google_pay/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/cardknox_google_pay/title</config_path>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="merchant_name" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Name</label>
                        <config_path>payment/cardknox_google_pay/merchant_name</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="environment" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                        <label>Environment</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigGooglePayEnvironment</source_model>
                        <config_path>payment/cardknox_google_pay/environment</config_path>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="button_style" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                        <label>Button Style</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigGooglePayButton</source_model>
                        <config_path>payment/cardknox_google_pay/button_style</config_path>
                        <comment>The Google Pay place order button style</comment>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>

                    <field id="gp_button_type" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="51">
                        <label>Google Pay Button Type</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigGooglePayButtonType</source_model>
                        <config_path>payment/cardknox_google_pay/gp_button_type</config_path>
                        <comment>The Google Pay place order button type</comment>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="button_size_mode" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="52">
                        <label>Button Size Mode</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigGooglePayButtonSizeMode</source_model>
                        <config_path>payment/cardknox_google_pay/button_size_mode</config_path>
                        <comment>If you want button smaller, use button type = short and button size mode = static.</comment>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="cardknox_googlepay_enable_cart" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Google Pay on Cart Page</label>
                        <config_path>payment/cardknox_google_pay/cart_page_enable</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="gp_enable_show_summary" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Show Summary Google Pay Popup on Cart Page</label>
                        <config_path>payment/cardknox_google_pay/gp_enable_show_summary</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>GooglePay Payment Action</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/cardknox_google_pay/payment_action</config_path>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="cardknox_gpay_split_capture_enabled" translate="label" type="select" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Split Capture For GooglePay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cardknox_google_pay/split_capture_enabled</config_path>
                        <depends>
                            <field id="payment_action">authorize</field>
                        </depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" showInDefault="9"
                        showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/cardknox_google_pay/allowspecific</config_path>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" showInDefault="1"
                        showInWebsite="1" showInStore="0" sortOrder="80">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/cardknox_google_pay/specificcountry</config_path>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="sort_order" translate="label" type="text" showInDefault="1" showInWebsite="1"
                        showInStore="0" sortOrder="90">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                </group>

                <!-- Apple Pay Configuration -->
                <group id="cardknox_apple_pay" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cardknox Apple Pay</label>
                    <field id="cardknox_applepay_info" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="8">
                        <frontend_model>CardknoxDevelopment\Cardknox\Block\Adminhtml\System\Config\ApplePay\Info</frontend_model>
                        <config_path>payment/cardknox_apple_pay/domain_registration_info</config_path>
                    </field>
                    <field id="cardknox_applepay_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>payment/cardknox_apple_pay/active</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/cardknox_apple_pay/title</config_path>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="merchant_identifier" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Identifier</label>
                        <config_path>payment/cardknox_apple_pay/merchant_identifier</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="environment" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                        <label>Environment</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigApplePayEnvironment</source_model>
                        <config_path>payment/cardknox_apple_pay/environment</config_path>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="ap_button_style" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                        <label>Apple Pay Button Style</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigApplePayButton</source_model>
                        <config_path>payment/cardknox_apple_pay/ap_button_style</config_path>
                        <comment>The Apple Pay place order button style</comment>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="ap_button_type" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60">
                        <label>Apple Pay Button Type</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Config\Backend\Source\ConfigApplePayButtonType</source_model>
                        <config_path>payment/cardknox_apple_pay/ap_button_type</config_path>
                        <comment>The Apple Pay place order button type</comment>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>

                    <field id="payment_action" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>CardknoxDevelopment\Cardknox\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/cardknox_apple_pay/payment_action</config_path>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="cardknox_applepay_enable_cart" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Apple Pay on Cart Page</label>
                        <config_path>payment/cardknox_apple_pay/cart_page_enable</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="ap_enable_show_summary" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Show Summary Apple Pay Popup on Cart Page</label>
                        <config_path>payment/cardknox_apple_pay/ap_enable_show_summary</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="cardknox_gpay_active">1</field>
                        </depends>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" showInDefault="9"
                        showInWebsite="1" showInStore="0" sortOrder="70">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/cardknox_apple_pay/allowspecific</config_path>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" showInDefault="1"
                        showInWebsite="1" showInStore="0" sortOrder="80">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/cardknox_apple_pay/specificcountry</config_path>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                    <field id="sort_order" translate="label" type="text" showInDefault="1" showInWebsite="1"
                        showInStore="0" sortOrder="90">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <depends>
                            <field id="cardknox_applepay_active">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
