name: Magento2 Build & Run Unit Tests

on:
  push:
    branches-ignore:
      - 'master'
      - 'rc/*/*/*'
  pull_request:
    types:
      - opened

jobs:
  magento2-build:
    runs-on: ubuntu-latest
    name: Magento2 Build & Run Unit Tests

    services:
      mysql:
        image: docker://mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: magento
          MYSQL_DATABASE: magento
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      opensearch:
        image: ghcr.io/mad-i-t/magento-opensearch:2.5.0
        ports:
          - 9200:9200
        options: -e="discovery.type=single-node" -e "plugins.security.disabled=true" -e "plugins.security.ssl.http.enabled=false" --health-cmd="curl http://localhost:9200/_cluster/health" --health-interval=10s --health-timeout=5s --health-retries=10

    steps:
    - uses: actions/checkout@v3
      with:
        path: Cardknox

    # Add PHP setup step
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, intl, gd, xml, soap, zip, bcmath, opcache, pdo_mysql, curl, dom, hash, iconv, json, simplexml, xsl, xmlreader, xmlwriter, session
        tools: composer:v2

    - name: Download Magento Directly
      run: |
        # Download Magento 2.4.8-p3 from GitHub
        wget https://github.com/magento/magento2/archive/2.4.8-p3.zip
        unzip 2.4.8-p3.zip
        mv magento2-2.4.8-p3 magento

    - name: Install Dependencies
      run: |
        cd magento
        composer install --no-interaction --prefer-dist

    - name: Create Directories for Cardknox Module
      run: |
        cd magento
        cd app
        sudo mkdir code
        cd code
        sudo mkdir CardknoxDevelopment

    - name: Move Cardknox Module
      run: |
        sudo mv Cardknox magento/app/code/CardknoxDevelopment

    - name: Enable Cardknox module
      run: |
        sudo php magento/bin/magento module:enable CardknoxDevelopment_Cardknox --clear-static-content
        sudo php magento/bin/magento setup:di:compile
        sudo chmod -R 777 magento/generated/ magento/var/ magento/pub/
        sudo php magento/bin/magento module:status

    - name: Run Unit Tests
      run: |
        cd magento
        sudo sed -i "/<string>allure.*/c\<directory>allure/allure.config.php</directory>" dev/tests/unit/phpunit.xml.dist
        sudo php vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist app/code/CardknoxDevelopment/Cardknox/Test/
